*.buildpath
*.project
*.settings/*
*.idea/*
*.xm
*.mod
*.it
*.out
*.so
*.o
*.lo
*.lib
*.sw*
*.loT
*.libs*
*.deps*
*.dirstamp*
autom4te.cache/*
acinclude.m4
aclocal.m4
build/
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
*libtool*
libtool
*libmikmod-config
*libmikmod-config.1
libmikmod.la
libmikmod.pc
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
*/*/*Makefile*
*/*/*/Makefile
*/*/*/*/Makefile
missing
mkinstalldirs
run-tests.php
stamp-h1
modules/
*.la
*.lo