*.xm
*.mod
*.it
*.out
*.so
*.o
*.la
*.lo
*.lib
*.sw*
*.loT
*.libs*
*.deps*
*.dirstamp*
autom4te.cache/*
acinclude.m4
aclocal.m4
build/*
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
*libtool*
libmikmod-config
libmikmod-config.1
libmikmod.la
libmikmod.pc
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
run-tests.php
stamp-h1
modules/*
lib/libmikmod-3.3.7/build/*
!lib/libmikmod-3.3.7/aclocal.m4
!lib/libmikmod-3.3.7/config.h.in
!lib/libmikmod-3.3.7/configure
!lib/libmikmod-3.3.7/COPYING.LIB
!lib/libmikmod-3.3.7/Makefile.am
!lib/libmikmod-3.3.7/Makefile.in
!lib/libmikmod-3.3.7/android/config.h
!lib/libmikmod-3.3.7/autotools/config.guess
!lib/libmikmod-3.3.7/autotools/config.sub
!lib/libmikmod-3.3.7/autotools/install-sh
!lib/libmikmod-3.3.7/autotools/ltmain.sh
!lib/libmikmod-3.3.7/autotools/missing
!lib/libmikmod-3.3.7/autotools/mkinstalldirs
!lib/libmikmod-3.3.7/dos/config.h
!lib/libmikmod-3.3.7/examples/simpleplay/Makefile
!lib/libmikmod-3.3.7/examples/simpleplayFP/Makefile
!lib/libmikmod-3.3.7/examples/simpleplayMEM/Makefile
!lib/libmikmod-3.3.7/examples/soundeffects/Makefile
!lib/libmikmod-3.3.7/m4/libtool.m4
!lib/libmikmod-3.3.7/macintosh/config.h
!lib/libmikmod-3.3.7/macosx/config.h